@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{

}
<div class="text-center">
    <h1 class="display-4">Welcome to the Office Asset Tracking Tool</h1>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
    <div class="col-md-6" style="border-right: 1px solid #eee; padding-bottom:50px;">
        <div class="row">
            <div class="col-md-5">
                <img src="~/images/bookStack.jpg" style="height:150px;" />
            </div>
            <div class="col-md-7 text-center">
                <h5> Books </h5>
                <p style="padding:20px 0px 20px 0px ;"> Borrow books available in the office</p>
                <a class="waves-effect waves-light btn-large" asp-controller="OfficeBooks" asp-action="OfficeBooks">View Books</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <img src="~/images/officeItems.jpg" style="height:150px;" />
            </div>
            <div class="col-md-7 text-center">
                <h5> Other Office Items </h5>
                <p style="padding:20px 0px 20px 0px "> Borrow other items available in the office.</p>
                <a class="waves-effect waves-light btn-large" asp-controller="OfficeItems" asp-action="OfficeItems">View Other Items </a>
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
<div class="row"></div>

<h4>Currently Borrowed Items</h4>
<div class="table-responsive">
    <table class="table table-hover" id="currentlyBorrowed">
        <thead>
            <tr>
                <th class="th-lg" style="display:none">ItemId</th>
                <th scope="col">Item Name</th>
                <th scope="col">Date Borrowed</th>
                <th scope="col">Due Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>
</div>



