
@{
    ViewData["Title"] = "OfficeBooks";
}

<h1>Office Books</h1>
<div class="text-left">
    <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalBookForm">
        Add Office Book
    </a>
</div>

<div class="modal fade" id="modalBookForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header darken-3 white-text" style="background-color:#2bbbad">
                <h4 class="title"><i class="fas fa-pencil-alt"></i> New Office Book</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <div class="md-form form-sm">
                    <input type="text" id="form1" class="form-control">
                    <label for="form8" class="active">Book ISBN</label>
                </div>

                <div class="md-form form-sm">
                    <input type="text" id="form1" class="form-control">
                    <label for="form9" class="active">Book Title</label>
                </div>

                <div class="md-form form-sm">
                    <input type="text" id="form1" class="form-control">
                    <label for="form9" class="active">Author</label>
                </div>

                <div class="md-form form-sm">
                    <input type="text" id="form1" class="form-control">
                    <label for="form9" class="active">Description</label>
                </div>
                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-effect waves-light" asp-controller="OfficBooks" asp-action="AddBook">Add Book<i class="fas fa-send ml-1"></i></button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!-- Table with panel -->
<h5>Available Books</h5>
<div class="px-4">
    <div class="table-wrapper">
        <!--Table-->
        <div class="table-responsive">
            <table class="table table-hover mb-0" id="t_books">

                <!--Table head-->
                <thead>
                    <tr>
                        <th class="th-lg">
                            Book ISBN
                        </th>
                        <th class="th-lg">
                            Book Title
                        </th>
                        <th class="th-lg">
                            Author
                        </th>
                        <th class="th-lg">
                        </th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <td>1234</td>
                        <td>Essential C# 7.0 (6th Edition) </td>
                        <td>Otto</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="UpdateBookDetails"> Edit </a>|
                            <a asp-controller="OfficeBooks" asp-action="DeleteBookDetails"> Delete </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View </a>
                        </td>

                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>Pro TypeScript: Application-Scale JavaScript Development</td>
                        <td>Ted</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="UpdateBookDetails"> Edit </a>|
                            <a asp-controller="OfficeBooks" asp-action="DeleteBookDetails"> Delete </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>The Clean Coder: A Code of Conduct for Professional Programmers</td>
                        <td>Mary</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="UpdateBookDetails"> Edit </a>|
                            <a asp-controller="OfficeBooks" asp-action="DeleteBookDetails"> Delete </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Clean Code: A Handbook of Agile Software Craftsmanship</td>
                        <td>Paul</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="UpdateBookDetails"> Edit </a>|
                            <a asp-controller="OfficeBooks" asp-action="DeleteBookDetails"> Delete </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View </a>
                        </td>

                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Professional C# 7 and .NET Core 2.0 </td>
                        <td>Larry</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="UpdateBookDetails"> Edit </a>|
                            <a asp-controller="OfficeBooks" asp-action="DeleteBookDetails"> Delete </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View </a>
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>

</div>


<div class="row"></div>
<div class="row"></div>


<!-- Table with panel -->
<h5>Borrowed Books</h5>

<div class="px-4">
    <div class="table-wrapper">
        <div class="table-responsive">
            <!--Table-->
            <table class="table table-hover mb-0" id="t_borrowed_books">

                <!--Table head-->
                <thead>
                    <tr>
                        <th class="th-lg">
                            Book ISBN
                        </th>
                        <th class="th-lg">
                            Book Title
                        </th>
                        <th class="th-lg">
                            Author
                        </th>
                        <th class="th-lg">
                            Borrowed By
                        </th>
                        <th class="th-lg">
                            Date Borrowed
                        </th>
                        <th class="th-lg">
                            Due Date
                        </th>
                        <th class="th-lg">
                        </th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <td>1234</td>
                        <td>Cracking the coding Interview</td>
                        <td>Otto</td>
                        <td>Elinor Kaguongo</td>
                        <td>1/7/2019</td>
                        <td>19/7/2019</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="ViewBookHistory"> View History </a>|
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View Book Details </a>
                        </td>

                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Professional C# 7 and .Net Core</td>
                        <td>Paul</td>
                        <td>Nicole Sigei</td>
                        <td>3/7/2019</td>
                        <td>19/7/2019</td>
                        <td>
                            <a asp-controller="OfficeBooks" asp-action="ViewBookHistory"> View History </a> |
                            <a asp-controller="OfficeBooks" asp-action="ViewBookDetails"> View Book Details </a>
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>

</div>



