
@{
    ViewData["Title"] = "OfficeBooks";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Office Books</h1>
<hr />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/ProfessionalC.jpg" style="height:100px" />
    </div>
    <div class="col-md-6">
        <h5>Professional C# 7 and .NET Core 2.0</h5>
        <p>By Christian Nagel</p>
        <a class="waves-effect waves-light btn">Borrow </a>
        <a class="waves-effect waves-light btn">View Wait list </a>
        <a class="btn disabled">Add to Wait list </a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/ProTypeScript.jpg" style="height:100px" />
    </div>
    <div class="col-md-6">
        <h5>Pro TypeScript: Application-Scale JavaScript Development</h5>
        <p>By Steve Fenton</p>
        <a class="waves-effect waves-light btn">Borrow </a>
        <a class="waves-effect waves-light btn">View Wait list </a>
        <a class="btn disabled">Add to Wait list </a>
    </div>
</div>
<hr />