
@{
    ViewData["Title"] = "OfficeItems";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Office Items</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/cards.jpg" style="height:100px" />
    </div>
    <div class="col-md-6">
        <h5>Deck of Cards : 55 Playing Cards</h5>
        <br />
        <a class="waves-effect waves-light btn">Borrow </a>
        <a class="waves-effect waves-light btn">View Wait list </a>
        <a class="btn disabled">Add to Wait list </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/jabraSpeaker.jpg" style="height:100px" />
    </div>
    <div class="col-md-6">
        <h5>Jabra Speaker</h5>
        <br />
        <a class="waves-effect waves-light btn">Borrow </a>
        <a class="waves-effect waves-light btn">View Wait list </a>
        <a class="btn disabled">Add to Wait list </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/kindle.jpg" style="height:100px" />
    </div>
    <div class="col-md-6">
        <h5>Amazon Kindle Paperwhite</h5>
        <br />
        <a class="waves-effect waves-light btn">Borrow </a>
        <a class="waves-effect waves-light btn">View Wait list </a>
        <a class="btn disabled">Add to Wait list </a>
    </div>
</div>