@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Office Asset Tracking Tool</h1>
</div>

<div class="row">
    <div class=" col-md-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Office Books</h5>
                <p class="card-text">Total Books</p>
                <p class="card-text" style="font-size:40px">10</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="OfficeBooks">Add</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="OfficeBooks">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class=" col-md-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Other Office Items</h5>
                <p class="card-text">Total Items</p>
                <p class="card-text" style="font-size:40px">5</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="OfficeItems">Add</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="OfficeItems">View</a>
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
<h4>Currently Borrowed Items</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Borrowed By</th>
            <th scope="col">Date Borrowed</th>
            <th scope="col">Due Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cracking the Coding Interview</td>
            <td>Elinor Kaguongo</td>
            <td>1/7/2019</td>
            <td>19/7/2019</td>
            <td><button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Send Reminder</button></td>
        </tr>
        <tr>
            <td>Professional C# 7 and .Net Core</td>
            <td>Nicole Sigei</td>
            <td>3/7/2019</td>
            <td>19/7/2019</td>
            <td><button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Send Reminder</button></td>
        </tr>
    </tbody>
</table>



